.darkback_form{
    background-color: #272A45 ;
    color: #FFFFFF !important;
    /* padding-top: 5%;
    padding-bottom: 5%; */
    text-align: center;
    /* border-radius: 2vw; */
}

.white_box{
    background-color:  #DBDBDB ;
}
.text_form{
    font-family: Droid Sans !important;
    font-style: normal !important;
    font-weight: normal;
    color:#FFFFFF;
}

.bubble{
    border-radius: 7vw !important;
}

.gradient_back{
    background: linear-gradient(180deg, #AFD0FF 0%, #B2EEFF 99.99%, rgba(175, 209, 255, 0) 100%) !important;
    color:black;
    text-align: center;
}

.modal{
    color: #FFFFFF ;
    background-color:#272A45;
}